#one {
  width: 100%;
  height: 636px;
  background-image: url("../img/backgrounds/landing.jpg");
  background-repeat: no-repeat;
}

#logo {
  text-align: center;
}

#top {
  /*font-family: 'Rajdhani';*/
  font-weight: 400;
  font-stretch: extra-expanded;
  font-size: 35px;
  color: #ffffff;
}

.clients {
  font-family: 'Catamaran';
  font-size: 15px;
  color: #F15A29;
  font-weight: 600;
}

#gee {
  font-family: 'Catamaran';
  font-weight: 600;
}

#junk {
  font-family: 'Catamaran';
  font-size: 30px;
  font-stretch: expanded;
  font-weight: bold;
}

#gdfood {
  font-family: 'Catamaran';
  font-stretch: expanded;
  font-weight: 200;
  font-weight: bold;
}

#Breakfast {
  background-image: url("../img/foodtop/breakfast.jpg");
  text-align: center;
  font-style: italic;
  height: 210px;
  padding-bottom: 80px;
  color: #ffffff;
}

#Breakfast:hover {
  color: #000000;
  background-image: rgba(255, 255, 255, 0.3);
}

#break {
  font-family: 'Catamaran';
  font-size: 30px;
}

#Lunch {
  background-image: url("../img/foodtop/lunch.jpg");
  text-align: center;
  font-style: italic;
  color: #ffffff;
  height: 210px;
  padding-bottom: 80px;
}

#Lunch:hover {
  color: #000000;
}

#lun {
  font-family: 'Catamaran';
  font-size: 30px;
}

#Dinner {
  background-image: url("../img/foodtop/dinner.jpg");
  text-align: center;
  font-style: italic;
  color: white;
  padding-bottom: 80px;
  height: 210px;
}

#Dinner:hover {
  color: #000000;
}

#dine {
  font-family: 'Catamaran';
  font-size: 30px;
}

#grid {
  background-image: url("../img/backgrounds/foodsBg.jpg");
  background-color: #FFFFFFFF;
}

#subscribe {
  background-image: url("../img/backgrounds/subscribe.jpg");
  height: 300px;
}

form {
  text-align: center;
}

#customers {
  text-align: center;
  width: 1000px;
  padding: 0px;
  height: 200px;
  background-color: #ffffff;
}

#MENU {
  background-color: #F15A29;
  text-align: center;
}

.full {
  width: 100%
}

.row {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.jumbotron {
  background-color: #FFFFFFFF;
  border-radius: 0px;
  margin: 0px;
  width: 100%;
}

body {
  width: 100%;
}

#hover:hover {
  color: #000000;
  background-color: #FFFFFFFF;
}

#times {
  width: 100%;
  padding-top: 0px;
}

#party {
  background-color: #F15A29;
  padding-bottom: 37px;
  padding-top: 18px;
  text-align: center;
  color: white;
  height: 105px;
  width: 338px;
  border-color: #FFFFFFFF;
}

.left {
  padding-left: 0px;
}

#happy {
  background-color: #C0C0C0;
  padding-bottom: 15px;
  text-align: center;
  height: 105px;
  padding-left: 0px;
  padding-right: 0px;
  width: 338px;
  border-color: #FFFFFFFF;
}

#float {
  float: right;
}

.container-fluid {
  padding: inherit;
}

#first {
  height: 210px;
  font-family: 'Catamaran';
  font-size: 30px;
}

#zero {
  padding: 0px;
}

.panel-body {
  padding: 0px;
}

.well {
  padding: 0px;
  background-color: #FFFFFFFF;
  width: 515px;
  height: 415px;
}

#width {
  width: 535px;
}

#bu {
  color: #F15A29;
  font-family: 'Catamaran';
  font-weight: 600;
}

#but {
  background-color: #ffffff;
  border-style: groove;
  border-width: thin;
  border-color: #F15A29;
  height: 35PX;
}

#text {
  width: 0px;
}

#straw {
  width: 245px;
  height: 390px;
  padding-top: 0px;
}

#well {
  padding-left: 0px;
  width: 490px;
  height: 390px;
  padding-top: 9px;
}

#branch {
  padding-bottom: 50px;
  height: 56px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 20px;
  font-family: 'Catamaran';
  font-weight: 600;
}

#urger {
  padding: 0px;
}

#beef {
  padding: 0px;
}

#pizza {
  padding: 0px;
}

.panel-footer {
  padding: 0px;
  height: 30px;
  background-color: #FFFFFFFF;
  border-color: #FFFFFFFF;
}

#footer {
  padding-top: 10px;
  height: 70px;
  padding-top: 20px;
  color: #F15A29;
}

.panel-heading {
  background-color: #f5f5f5;
}

#fast {
  color: #F15A29;
  background-color: #ffffff;
  padding: 0px;
  border-bottom-style: hidden;
}

#inks {
  padding: 0px;
}

#chicken {
  padding: 0px;
}

#rice {
  padding: 0px;
}

#back {
  background-image: url("../img/backgrounds/foodsBg.jpg");
  height: 599px;
}

#yell {
  background-color: #ffffff;
  padding-left: 0px;
  padding-right: 0px;
  width: 1000px;
  height: 367px;
}

#row2 {
  height: 599px;
}

#fastfood {
  width: 510px;
  height: 410px;
  padding: 5px;
  padding-top: 9px;
  padding-bottom: 0px;
}

#drinks {
  text-align: right;
  padding-right: 0px;
}

.col-md-6 {
  width: 510px;
}

.picFast {
  width: 450px;
  padding-left: 50px;
}

.picSlow {
  padding-right: 50px;
}

.food {
  height: 56px;
  width: 250px;
  border-style: groove;
  border-right-style: solid;
  padding: 0px;
  border-right-width: thin;
  border-bottom-right-width: thin;
}

#pics {
  width: 900px;
  margin-left: 50px;
}

.col-md-3 {
  padding: 0px;
}

#cust {
  width: 500px;
  padding-right: 0px;
  height: inherit;
}

#cust2 {
  width: 400px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  height: inherit;
}

#sec {
  width: 500px;
  padding-right: 0px;
  border-right: 0px;
  border-right-style: groove;
}

#cf {
  height: 161px;
}

#second {
  width: 1014px;
  height: 210px;
}

#our {
  border-right-style: groove;
  padding-right: 0px;
  border-width: thin;
  padding-bottom: 10px;
  padding-left: 0px;
  width: 600px;
}

#about {
  padding-left: 10px;
}

#long {
  width: 200px;
  background-color: #F15A29;
  border-color: #F15A29;
  color: #ffffff;
  font-family: 'Catamaran';
  font-weight: 600;
  height: 30px;
  border-style: groove;
  border-width: thin;
}

#short {
  width: 280px;
  background: rgba(255, 255, 255, 0.3);
}

#final {
  background-color: #F15A29;
}

#eat {
  font-weight: 400;
  font-family: 'Catamaran';
  font-size: 35px;
  color: #ffffff;
}

.meen {
  color: #ffffff;
}

.overlay {
  height: 100%;
  padding: 0;
  margin: auto;
  width: 100%;
  background-color: #F15A29 color: rgb(0, 0, 0, );
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.hum {
  position: absolute;
  color: white;
  margin-top: 100px;
  font-size: 30px;
  cursor: pointer;
  margin-left: 100px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

#mc_embed_signup {
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 100%;
}

#mc-embedded-subscribe {
  background-color: #FFFFFFFF;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
