#one {
  border-radius: 0;
  background-image: url("../img/backgrounds/landing.jpg");
  background-repeat: no-repeat;
}

#logo {
  text-align: center;
}

#top {
  font-family: 'Rajdhani';
  font-weight: 400;
  font-stretch: extra-expanded;
  font-size: 35px;
  color: #ffffff;
}

.clients {
  font-family: 'Catamaran';
  font-size: 15px;
  color: #F15A29;
  font-weight: 600;
}

#gee {
  font-family: 'Catamaran';
  font-weight: 600;
}

#dine {
  background-image: url("../img/foodtop/dinner.jpg");
  text-align: center;
  font-style: italic;
  height: 210px;
  padding-bottom: 80px;
  color: #ffffff;
}

#break:hover {
  color: #000000;
  background-image: url("../img/foodtop/dinner2.jpg");;
}

#break {
  font-family: 'Catamaran';
  font-size: 30px;
}

#lun {
  background-image: url("../img/foodtop/lunch.jpg");
  text-align: center;
  font-style: italic;
  height: 210px;
  padding-bottom: 80px;
  color: #ffffff;
}

#lun:hover {
  color: #000000;
  background-image: url("../img/foodtop/dinner2.jpg");
  }

#lun {
  font-family: 'Catamaran';
  font-size: 30px;
}

#break {
  background-image: url("../img/foodtop/breakfast.jpg");
  text-align: center;
  font-style: italic;
  height: 210px;
  padding-bottom: 80px;
  color: #ffffff;
}

#dine:hover {
  color: #000000;
  background-image: url("../img/foodtop/dinner2.jpg");
}

#dine {
  font-family: 'Catamaran';
  font-size: 30px;
}

}
#customers {
  text-align: center;
  width: 1000px;
  padding: 0px;
  height: 200px;
  background-color: #ffffff;
}

#menu {
  background-color: #F15A29;
  text-align: center;
}

#final {
  background-color: #F15A29;
  text-align: center;
  align-content: center;
  color:white;
  }

#cf {
  height: 161px;
  padding-top: 100px;
}

#second {
  width: 1014px;
  height: 210px;
}

#our {
  border-right-style: groove;
  padding-right: 0px;
  border-width: thin;
  padding-bottom: 10px;
  padding-left: 0px;
  width: 600px;
}

#about {
  padding-left: 10px;
}

.foot {
  background-color: #F15A29 text-align:center;
  color: white;
}

#menn {
  font-weight: 400;
  font-family: 'Catamaran';
  font-size: 35px;
}

#back {
  background-image: url("../img/backgrounds/foodsBg.jpg");
  background-repeat: no-repeat;
  border-radius: 0;
  height: 350px;
}

#row2 {
  padding-bottom: 30px;
}

#fad {
  border-style: groove;
}
